# --- Dados ---
data/*.csv
data/*.json
data/*.zip
data/*.pkl

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# --- Conda ---
.conda/
conda-meta/

# --- Jupyter Notebook ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- Logs e Banco de Dados ---
*.log
*.sqlite
#*.db
.env
metabase_data/

# --- Sistema (Ubuntu) ---
.DS_Store
.directory